<div class="mb-1 card">
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-md-3 col-lg-2">
                <img src="..\..\assets\content\Salapaka_Srinivasa.jpg" alt="Someting" class="card-img-top w">
            </div>
            <div class="col-xs-12 col-md-9 col-lg-10">
                <div class="row">
                    <div class="mb-1 col-xs-12 col-sm-12">
                        <h4 class="card-title">Mustafa</h4>
                    </div>
                    <div class="mb-1 col-xs-12 col-sm-12">
                        <p class="card-text">Something here</p>
                    </div>
                    <div class="mb-1 col-xs-12 col-sm-4">
                        <h4 class="card-subtitle">
                            <a href="http://salapaka.web.engr.illinois.edu/resume_Salapaka.pdf" class="badge badge-light text-sm"> <span class="fa fa-file-pdf"></span> CV</a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6"></div>
        </div>
    </div>
</div>
