<div class="mb-1 card">
    <div class="cropped-ofp mx-auto">
        <img [src]="studentImage" [alt]="studentFName+' '+studentLName" class="card-img-top" style="margin:auto">
    </div>
    <div class="card-body">
        <h5 class="card-title text-right">{{studentFName}} {{studentLName}}</h5>
        <p class="card-text text-right">{{studentLevel}} Student</p>

        <div class="mx-auto text-right">
            <a [href]="['mailto:' + studentEmail]" target="_blank" rel="noopener noreferrer" class="btn btn-light ml-1" [title]="studentEmail"><span class="fa-solid fa-envelope"></span></a>
            <a *ngIf="studentWebsite" [href]="studentWebsite" target="_blank" rel="noopener noreferrer" class="btn btn-light ml-1" [title]="studentWebsite"><span class="fa-solid fa-globe"></span></a>
            <a *ngIf="studentLinkedin" [href]="studentLinkedin" target="_blank" rel="noopener noreferrer" class="btn btn-light ml-1" [title]="studentLinkedin"><span class="fa-brands fa-linkedin"></span></a>
            <a *ngIf="studentGithub" [href]="studentGithub" target="_blank" rel="noopener noreferrer" class="btn btn-light ml-1" [title]="studentGithub"><span class="fa-brands fa-github"></span></a>
        </div>

        <div (click)="toggleStudentActivation()" class="details_pane px-3 text-center" [class.active] = "activeStudent">
            <!-- <ul class="timeline">
                <li *ngFor="let hist of acad_history" class="timeline-item mb-3">
                    <p class="card-subtitle mb-1">
                        {{hist.year ? hist.year : 'Sometime'}} : {{hist.level ? hist.level : 'something'}}, {{hist.department ? hist.department : 'something'}}
                    </p>
                    <p class="text-muted">{{hist.institute ? hist.institute : 'Somewhere'}}</p>
                </li>
            </ul> -->
            <span class="fa-solid fa-chevron-up details_pane_caret"></span>
            <p class="card-text font-weight-bold">History</p>
            <ul class="timeline-with-icons text-left">
                <li *ngFor="let hist of acad_history" class="timeline-item mb-2">
                  <span class="timeline-icon">
                    <i class="test-secondary fa-solid fa-graduation-cap"></i>
                  </span>
            
                  <h6 class="fw-bold" style="margin-left: -15px;">{{hist.level ? hist.level : 'something'}}, {{hist.department ? hist.department : 'something'}}</h6>
                  <p class="text-small mb-0" style="margin-left: -15px;">{{hist.institute ? hist.institute : 'Somewhere'}}, {{hist.year ? hist.year : 'Sometime'}}</p>
                </li>
            </ul>
            <p class="card-text font-weight-bold">Research Areas</p>
            <p class="card-text">
                <span *ngFor="let ri of researh_interests" class="badge badge-pill badge-dark mx-1">{{ri}}</span>
            </p>
        </div>

        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
    <!-- <h5 class="card-title">Mustafa Kapadia</h5>
    <h6 class="card-subtitle">M.S. Mechanical Engineering</h6> -->
    
    <!-- <div class="row no-gutters px-1 py-1">
        <div class="col-xs-12 col-md-3 col-lg-2">
            <img src="..\..\assets\content\Mustafa_Kapadia.jpg" alt="Someting" class="card-img-top card-img-bottom">
        </div>
        <div class="col-xs-12 col-md-9 col-lg-10">
            <div class="row ml-1">
                <div class="mb-1 col-xs-12 col-sm-12">
                    <h4 class="card-title">Mustafa Kapadia</h4>
                </div>
                <div class="mb-1 col-xs-12 col-sm-12">
                    <h5 class="card-subtitle">M.S. Mechanical Engineering</h5>
                </div>
                <div class="mb-1 col-xs-12 col-sm-6">
                    <p class="card-subtitle font-weight-bold">Bachelors: <span class="font-weight-normal">Mechanical Engineering, VJTI, Mumbai</span></p>
                </div>
                <div class="mb-1 col-xs-12 col-sm-12">
                    <p class="card-text">Research on problems related to sequential decision making and optimization, application of Machine learnning to system identification and control</p>
                </div>
                <div class="mb-1 col-xs-12 col-sm-4">
                    <h6 class="text-sm">
                        <a href="http://salapaka.web.engr.illinois.edu/resume_Salapaka.pdf" class="badge badge-light text-sm"> <span class="fa fa-file-pdf"></span> CV</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6"></div>
    </div> -->
</div>
