<!-- <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Collapsible Group Item #1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
          3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
          Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
          Ad vegan excepteur butcher vice lomo.Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
</div> -->

<h3>Journal/Conference Articles</h3>

<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "filterPapersByYear(currYear, currYear)" [class.active] = "(startYear==currYear)&&(endYear==currYear)">Recent/ Preprints</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "filterPapersByYear(2010, currYear-1)" [class.active] = "(startYear==2010)&&(endYear==currYear-1)">2010-{{currYear-1}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" (click) = "filterPapersByYear(1900,2010)" [class.active] = "(startYear==1900)&&(endYear==2010)">Pre 2010</a>
        </li>
      </ul>
    </div>
    <div class="card-body">

      <div class="row">

        <div *ngFor = "let paper of filt_paper_list" class="col-lg-3 col-md-4 mb-1">
          <a [href]="paper.link" class="" target="_blank" rel="noopener noreferrer">
            <div class="mb-1 card">
              <div class="cropped-ofp mx-auto p-1">
                  <img src="../../assets/content/pdf_img.png" class="card-img-top" style="margin:auto">
              </div>
              <div class="card-body">
                <p class="card-text text-pub-prepr"><small class="text-dark font-weight-bold">{{paper.is_published_not_preprint == "true"? "DOI" : "Preprint"}} &RightTriangle; {{paper.doi_arxiv_id}} ({{paper.year}})</small></p>
                <p class="card-text text-center text-pub-content">{{paper.title}}</p>
                <p class="card-text text-pub-authors"><small class="text-dark text-right">- {{paper.authors}}</small></p>
              </div>
            </div>
          </a>
        </div>
        <div *ngIf = "filt_paper_list.length == 0" class="p-4">
          <p class="card-text text-center">No Papers to Show</p>
        </div>

      </div>

    </div>
</div>
