.test {
    /* width: 100%; */
    max-height: 25%;
}
@media (min-width: 992px) and (max-width: 1200px) {
   .test {
    width: 75%;
   }
}
@media (min-width: 1200px) {
    .test {
     width: 70%;
    }
}

.cropped-ofp {
    /* width: 300px;  */
    height: 300px;
    overflow: hidden;
    /* object-fit: scale-down; */
    /* object-position: 25% 25%;  */
}

.cropped-news-text{
    height: 100px;
    text-overflow: clip;
}

.text-news-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}

.text-news-content {
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 6; /* number of lines to show */
        line-clamp: 6; 
-webkit-box-orient: vertical;
}

/* carousel style */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.33%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.33%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left { 
  transform: translateX(0);
}
