.test {
    /* width: 100%; */
    max-height: 25%;
}
@media (min-width: 992px) and (max-width: 1200px) {
   .test {
    width: 75%;
   }
}
@media (min-width: 1200px) {
    .test {
     width: 70%;
    }
 }
